In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\dell1\Downloads\Sales_add.csv")

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
data.shape

(22, 5)

# Question 1

Since sample size is less than 30, we prefer t test. Here we have to clarify whether there is any increase in sales after
stepping into digital marketing. so we can use paired t test for this casestudy because paired t test is more convinient when the data is in before and after mode. Here we have to find the sales before and after of digital advertisment.

In [5]:
from scipy import stats

In [6]:
t_stat,p_value=stats.ttest_rel(data['Sales_before_digital_add(in $)'], data['Sales_After_digital_add(in $)'])

In [7]:
p_value

6.336667004575778e-11

In [8]:
if p_value<0.05:
    print("Null hypothesis is Rejected")
else:
    print("Null Hypothesis is Accepted")

Null hypothesis is Rejected

Here our null hypothesis is rejected. So there is statistical significance for the test.

In [9]:
# if we are doing normal t test, we will get the similiar result

In [10]:
from scipy.stats import ttest_ind

In [11]:
t_stat1,p_val1 = ttest_ind(data["Sales_before_digital_add(in $)"],data["Sales_After_digital_add(in $)"])

In [12]:
p_val1

2.614368006904645e-16

In [13]:
if p_val1<0.05:
    print("Null hypothesis is Rejected")
else:
    print("Null Hypothesis is Accepted")

Null hypothesis is Rejected

# Question 2

Here we are using chi square test of independence

In [14]:
data2 = pd.crosstab(data["Region"],data["Manager"])

In [15]:
data2

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [16]:
from scipy.stats import chi2_contingency

In [17]:
statistic,pvalue,dof,expected=chi2_contingency(data2)

In [18]:
pvalue

0.5493991051158094

In [19]:
if pvalue<0.05:
    print("Null hypothesis is Rejected")
else:
    print("Null Hypothesis is Accepted")

Null Hypothesis is Accepted

Here we are accepting the null hypothesis. So "Manager" and "Region" are independent